@charset "UTF-8";


/* main */
main {
    width: 1140px;
    height: auto;
    margin: 0 auto;
}

/* top_menu */
#top_menu{
    width: 150px;
    height: 20px;
    margin: 10px 0;
}
#top_menu ul{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 13px;
}
#top_menu ul li::after{
    content: ' >';
}
#top_menu ul li:last-child:after{
    content: '';
}
#top_menu ul li a{
    color: #121212;
}

/* main_menu */
.main_content{
    width: 1140px;
    height: 530px;
    display: flex;
    justify-content: space-between;
}
.book_content{
    width: 500px;
    height: 530px;
    border-radius: 8px;
    background: #f6f6f9;
}

.main_book img{
    width: 250px;
    height: 345px;
    top: 65px;
    left: 25%;
    position: relative;
    display: block;
}
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.book_title{
    /* width: 625px;
    height: 30px; */
}

#price_menu{
    width: 625px;
    height: 530px;
    background-color: darkkhaki;
}

#new{
    width: 1185px;
    height: 180px;
    background-color: yellow;
}

