@charset "UTF-8";


/* main */
main {
    width: 1140px;
    height: auto;
    margin: 0 auto;
}

/* top_menu */
#top_menu {
    width: 150px;
    height: 20px;
    margin: 10px 0;
}

#top_menu ul {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 13px;
}

#top_menu ul li::after {
    content: ' >';
}

#top_menu ul li:last-child:after {
    content: '';
}

#top_menu ul li a {
    color: #121212;
}

/* main_menu */
.main_content {
    width: 1140px;
    height: 530px;
    display: flex;
    justify-content: space-between;
}

.book_content {
    width: 500px;
    height: 530px;
    border-radius: 8px;
    background: #f6f6f9;
}

.main_book img {
    width: 250px;
    height: 345px;
    top: 65px;
    left: 25%;
    position: relative;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 95px;
    position: relative;
    gap: 10px;
}

.btn button:nth-of-type(1) {
    width: 70px;
    height: 30px;
    border: 1px solid #ededf2;
    border-radius: 5px;
    font-size: 11px;
    background-color: #fff;
}

.btn button:nth-of-type(2) {
    width: 85px;
    height: 30px;
    border: 1px solid #ededf2;
    border-radius: 5px;
    font-size: 11px;
    background-color: #fff;
}

.book_title {
    /* width: 625px;
    height: 30px; */
}

#price_menu {
    width: 625px;
    height: 530px;
    padding-top: 8px;
}

.pricecontent {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pricecontent p {
    content: "10%";
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 120, 224, 1);
}

.pricecontent .salenum {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.pricecontent .pricenum {
    font-size: 14px;
    font-weight: 400;
    color: #888;
    text-decoration: line-through;
}

.checkbox {
    width: 610px;
    height: 55px;
    padding: 0 10px;
    margin: 20px 0;
    border: 1px solid #ededf2;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.checkbox .check label input {
    margin-right: 5px;
}


#price_menu table {
    width: 600px;
    margin: 20px 0;
    font-size: 14px;
}

#price_menu table td {
    text-align: left;
    padding: 6px 15px;
}

#price_menu table td:first-child {
    width: 100px;
}

#price_menu table td:nth-of-type(2) {
    width: 500px;
}

.total {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.total .total_txt {
    font-size: 14px;
    font-weight: 600;
}

.total .salenum {
    font-size: 23px;
    font-weight: 600;
}

.buy_btn {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.buy_btn button:nth-of-type(1) {
    width: 300px;
    height: 48px;
    border: 1px solid #ededf2;
    border-radius: 8px;
}

.buy_btn button:nth-of-type(1) a {
    font-size: 14px;
    font-weight: 500;
}

.buy_btn button:nth-of-type(2) {
    width: 300px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 120, 224, 1);
}

.buy_btn button:nth-of-type(2) a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

#new {
    width: 1140px;
    height: 180px;
    margin: 40px 0 50px 0;
}
#new .newtop{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#new .newtop h2{
    font-size: 20px;
}
#new .newtop button{
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #fff;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.swiper-slide img {
    margin-left: 25px;
    margin-right: 10px;
    display: block;
    width: 130px;
    height: 145px;
    object-fit: cover;
}
#new h3{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
#new h4{
    margin-bottom: 10px;
    font-size: 12px;
    text-align: left;
    color: #7B8A9D;
}
#new p{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
#new p::before{
    content: "10%";
    color: rgba(0, 120, 224, 1);
}
#new .swiper-button-next {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 1090px;
    right: auto;
    top: auto;
    bottom: 80px;
    box-shadow: 0 5.5px 6.6px 0 rgba(0, 0, 0, 0.07);
}

#new .swiper-button-prev {
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    left: 0px;
    top: auto;
    bottom: 80px;
    box-shadow: 0 5.5px 6.6px 0 rgba(0, 0, 0, 0.07);
}
#new .swiper-navigation-icon {
    width: 50%;
    height: 50%;
    color: #888;
}


#bookcontent {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* #bookcontent section {
    width: 750px;
    height: 350px;
    margin-right: 30px;
    margin: 0 auto;
    position: relative;
} */


.tab_menu {
    width: 750px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

.tab_menu li {
    width: 200px;
    line-height: 50px;
    border: 1px solid #aaa;
    text-align: center;
    border-bottom: 0;
}

.tabs .tabcontent{
    display: none;
}

.tabcontent.active {
  display: flex;
}
.active {
    background-color: #eee;
    border-bottom: 1px solid #eee;
}
.tab_menu li.active{
    font-weight: bold;
    color: black;
}


.tabcontent {
    width: 750px;
    height: 300px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    left: 0;
    bottom: 0.5px;
    background-color: #fff;
    border-top: 1px solid #aaa;
}

.tabcontent button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #eee;
}


#bookcontent .totalcon .contextbox {
    width: 750px;
    /* height: 2820px; */
    position: relative;
    padding-right: 30px;
    /* max-height: 300px; */
    overflow: hidden;
}

.contextbox img {
  width: 100%;
  height: auto;
}
#bookcontent .totalcon .contextbox p:first-child{
    padding: 10px 0 0 10px;
    font-size: 20px; 
    font-weight: 700;
}
#bookcontent .totalcon .contextbox p:last-child{
    padding-left: 10px;
    font-family: sans-serif;
}

#side_bar {
    min-width: 360px;
    height: 235px;
    margin-top: 20px;
    padding: 10px;
    position: sticky;
    top: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#side_bar ul li:first-child {
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f6f6f9;
}

#side_bar ul li .book_title {
    text-align: left;
}

#side_bar ul li .buy_btn {
    /* margin-bottom: 10px; */
    gap: 7px;
    display: flex;
    justify-content: space-between;
}